#part3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-height: 1100px;
  background: black;
  position: relative;
}

#part5 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  font-size: 50px;
  min-height: 1100px;
  background: linear-gradient(
    90deg,
    rgba(0, 130, 249, 1) 0%,
    rgba(69, 77, 166, 1) 73%
  );
  position: relative;
  perspective: 1000px;
  padding: 10px;
}

#mySkills4 {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

#hautGauche {
  position: absolute;
  top: 0;
  left: 10px;
  opacity: 0.5;
  transition: 0.3s;
}

#hautGauche:hover {
  opacity: 0;
}

.success {
}

.nearly {
}

#part4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 1100px;
  background: linear-gradient(
    90deg,
    rgba(249, 234, 0, 1) 0%,
    rgba(254, 165, 20, 1) 35%,
    rgba(162, 22, 254, 1) 63%,
    rgba(255, 0, 236, 1) 100%
  );
  position: relative;
}

@keyframes bgChange {
  0%,
  100% {
    background: #260c1a;
  }
  50% {
    background: #5f4842;
  }
}

.line1 {
  background: white;
}

.desc {
}

table {
  border-collapse: collapse;
  margin: 0 40px;
}
table,
td,
th {
  border: 1px solid black;
}

th {
  padding: 10px 0;
}

td {
  max-width: 300px;
  padding: 20px;
  text-align: center;
}

.pRel {
  position: relative;
}

#mySkills3 {
  text-decoration: none;
  color: grey;
  font-size: 23px;
  background-image: none;
  display: inline-block;
  position: relative;
  -webkit-text-fill-color: grey;
}

#mySkills3:hover {
  -webkit-text-fill-color: white;
  color: white;
}

#text3 {
  font-size: 30px;
  width: 600px;
  margin-right: 200px;
}

#subContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#arrows {
  color: white;
  animation: pulse 3s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#mySkills2 {
  text-decoration: none;
  color: white;
  display: inline-block;
  position: relative;
}

.rainbow {
  animation: rainbow 10s infinite;
  background-image: repeating-linear-gradient(
    45deg,
    violet,
    green,
    cyan,
    yellow,
    orange,
    red,
    violet
  );
  background-size: 500% 500%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 8s ease infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 25%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.linkTable {
  color: black;
  text-decoration: none;
  transition: 0.8s font-size, 0.2s color;
}

#hover1 {
  transition: 1s;
  background-color: rgb(255, 255, 255, 0.6);
  margin: 0;
  padding: 5px 40px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#finalText:hover #hover1 {
  transform: rotateX(-30deg) translateY(-50px);
}
#hover2 {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  transition: 1s;
  padding: 5px 40px;
  margin: 0;
  background-color: rgb(255, 255, 255, 0.6);
}

#finalText {
  margin-top: 100px;
}

#finalText:hover #hover2 {
  transform: rotateX(30deg) translateY(50px);
}

#finalText:hover #inv {
  opacity: 1;
}

.github {
  width: 50px;
  height: 50px;
  transition: 0.6s;
}

.subBar {
  transform: scaleY(1);
}

.github:hover {
  transform: rotate(360deg);
}

.linkTable:hover {
  color: white;
  font-size: 18px;
}

#inv {
  position: absolute;
  font-size: 25px;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -53%);
  opacity: 0;
  transition: 1s;
}

@media only screen and (min-width: 600px) {
  .elemComps {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 10px 0;
    transform: scale(1);
    transition: 0.5s;
  }

  .elemComps h2 {
    font-weight: normal;
    font-size: 30px;
    margin: 10px 0;
  }

  .abs {
    position: relative;
    display: inline-block;
  }

  .elemLink {
    display: inline-block;
    position: relative;
    color: #bd4f6c;
    text-decoration: none;
    transform: scale(1);
    transition: 0.4s;
  }

  .elemLink:hover {
    transform: scale(1.1);
    text-decoration: underline;
  }

  .elemComps p {
    font-weight: normal;
    font-size: 22px;
    margin: 0;
    width: 80%;
  }

  .invThenNot {
    margin-top: 10px;
    display: none;
    flex-direction: row;
    width: 90%;
    align-items: center;
    justify-content: center;
  }

  #subElems {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .invThenNot p {
    width: auto;
    margin: 0 4px;
  }

  .elemComps:hover .infos .invThenNot {
    display: flex;
    opacity: 0;
    animation: opaci forwards ease-in-out 0.5s;
  }

  @keyframes opaci {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .elemComps:hover {
    transform: scale(1.2);
  }

  .elemComps:hover .infos {
    background-color: rgb(255, 255, 255, 1);
  }

  .elemComps:hover .imgComps {
    opacity: 1;
  }

  .infos {
    background-color: rgb(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 60px;
    width: 400px;
    height: 300px;
    transition: 0.5s;
  }

  .imgComps {
    border: grey solid 1px;
    width: 600px;
    height: 300px;
    opacity: 0.8;
    transition: 0.5s;
  }

  #bomb {
    width: 300px;
  }

  #spotify {
    width: 500px;
  }

  #banner {
    text-align: center;
    font-size: 30px;
  }

  #part1 {
    margin-top: 2000px;
    height: 2000px;
  }

  #part2 {
    height: 2000px;
  }

  #sub {
    flex-direction: column;
  }

  #text3 {
    margin-left: 10px;
  }

  #part3 {
    height: 2000px;
  }

  #inv {
    position: absolute;
    font-size: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 1s;
  }

  #part4 {
    min-height: 2000px;
  }

  #part5 {
    height: 2000px;
  }

  #text2 {
    font-size: 40px;
    width: 500px;
  }

  #fin {
    font-size: 30px;
    position: absolute;
    bottom: 20px;
  }

  #show {
    opacity: 0;
    background: white;
    width: 300px;
    height: 115px;
    border: solid 1px black;
    position: absolute;
    font-size: 40px;
    top: 58%;
    left: 50%;
    text-decoration: none;
    color: black;
    padding-top: 15px;
    text-align: center;
    transform: translate(-50%, -58%);
    animation: pulse 3s infinite 6.5s;
    transition: 0.5s;
  }

  #text1 {
    font-size: 50px;
  }

  @keyframes falling {
    0%,
    80% {
      opacity: 1;
    }
    95% {
      opacity: 0;
    }
    100% {
      opacity: 0;

      transform: translateY(2080px) rotate(800deg);
    }
  }

  #arrows {
    font-size: 35px;
    text-align: center;
  }
}

@media only screen and (min-width: 992px) {
  @keyframes falling {
    0%,
    80% {
      opacity: 1;
    }
    95% {
      opacity: 0;
    }
    100% {
      opacity: 0;

      transform: translateY(1180px) rotate(800deg);
    }
  }

  #subElems {
    flex-direction: row;
  }
  #text1 {
    font-size: 30px;
  }
  #banner {
    font-size: 20px;
  }

  #part1 {
    margin-top: 600px;
    height: 1100px;
  }

  #part2 {
    height: 1100px;
  }

  #sub {
    flex-direction: row;
  }

  #text2 {
    font-size: 30px;
    width: 300px;
  }

  #text3 {
    margin-left: 0;
  }

  #part3 {
    height: 1100px;
  }

  #inv {
    position: absolute;
    font-size: 25px;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -53%);
    opacity: 0;
    transition: 1s;
  }

  #part4 {
    min-height: 1100px;
  }

  #part5 {
    height: 1100px;
  }

  #fin {
    font-size: 13px;
    position: absolute;
    bottom: 20px;
  }

  #show {
    opacity: 0;
    background: white;
    width: 150px;
    height: 35px;
    border: solid 1px black;
    position: absolute;
    top: 58%;
    left: 50%;
    font-size: 18px;
    text-decoration: none;
    color: black;
    padding-top: 15px;
    text-align: center;
    transform: translate(-50%, -58%);
    animation: pulse 3s infinite 6.5s;
    transition: 0.5s;
  }

  #arrows {
    font-size: 25px;
  }
}
